.blog-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    p {
        .mixin-p();
    }
}

.more-posts,
.blog-item {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;

    width: 20rem;
    height: 20rem;
    max-width: 100%;
    padding: 2.2rem;

    @media @tablet {
        max-width: 50%;
    }

    @media @desktop {
        max-width: 33.33%;
    }
}

.more-posts {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    // background-color: @light-gray;

    h2 {
        position: relative;
        padding: 1rem 0;
        margin: 0
    }

    h2::after {
        content: '';
        position: absolute;
        top: auto;
        bottom: 0;
        left: 0;
        width: 100%;
        height: @line-width;
        border-radius: @line-width / 2;
        background-color: @black;

        @media @phone-lg {
            height: @line-width-large;
            border-radius: @line-width-large / 2;
        }
    }
}

.blog-item {
    cursor: pointer;

    h2 {
        margin: 0;
    }

    .excerpt {
        position: relative;
        margin-top: 1rem;
        margin-bottom: 1rem;
        overflow: hidden;

        p {
            margin: 0;
        }

        &::after{
            content:'';
            position: absolute;
            left: 0;
            bottom: 0;
            height: 6rem;
            width: 100%;
        }
    }

    .author {
        margin-top: auto;
    }

    &:nth-child(1) {
        background-color: @purple;
        z-index: 1;

        .excerpt::after {
        background: linear-gradient(transparent, @purple);
        }
    }

    &:nth-child(2) {
        background-color: @cyan;
        z-index: 2;

        .excerpt::after {
        background: linear-gradient(transparent, @cyan);
        }
    }

    &:nth-child(3) {
        background-color: @red;
        z-index: 3;

        .excerpt::after {
        background: linear-gradient(transparent, @red);
        }
    }

    &:nth-child(4) {
        background-color: @yellow;
        z-index: 4;

        .excerpt::after {
        background: linear-gradient(transparent, @yellow);
        }
    }
}