.blog-section {
    column-count: 1;
    column-width: auto;
    column-gap: @spacing;

    .month {
        margin-right: 0.5ch;
    }

    @media @phone-lg {
        column-count: 2;
    }

    @media @tablet-lg {
        column-count: 3;
    }

    @media @desktop-lg {
        column-count: 4;
    }
}

.more-posts,
.blog-item {
    break-inside: avoid;
    box-sizing: border-box;
    max-width: 100%;
    background-color: @light-gray;
    padding: @spacing-2 @spacing-1;
    margin-bottom: @spacing;

    @media @tablet-lg {
        padding: 2rem;
    }
}

.more-posts {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;

    h2 {
        margin: 0;
    }
}

.blog-item {
    cursor: pointer;

    h2 {
        margin: 0;
    }

    .excerpt {
        position: relative;
        margin-top: 1rem;
        margin-bottom: 1rem;
        overflow: hidden;

        p {
            margin: 0;
        }
    }

    .author {
        margin-top: auto;
    }
}