.event-section {
    display: flex;
    flex-direction: column-reverse;
    margin: @spacing-2 0;

    p {
        .mixin-p();
    }
}

.event-item {
    overflow: visible;
    display: flex;
    align-items: center;

    .item-tag {
        display: none;

        @media @phone-lg {
            display: block;
            text-align: center;
            width: @spacing-3;
            min-width: 6em;

            .circle {
                font-size: 1em;
                margin-bottom: 0.1em;
            }
        }
    }

    .item-text {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        margin: 0;
        padding: 1.6em 0;
        width: 100%;

        h2 {
            cursor: pointer;
            flex-shrink: 1;
            margin: 0;
        }

        .date {
            text-align: right;
            flex-shrink: 0;
            display: flex;
            justify-content: space-between;
            margin-left: 2rem;
            width: 6ch;
            height: 1em;
        }

        .date-placeholder {
            margin-left: auto;
        }

        &::after {
            content: '';
            position: absolute;
            top: auto;
            bottom: 0;
            left: 0;
            width: 100%;
            height: @line-width;
            border-radius: @line-width / 2;
            background-color: @black;

            @media @phone-lg {
                height: @line-width-large;
                border-radius: @line-width-large / 2;
            }
        }
    }

    &:first-of-type .item-text::after {
        display: none;
    }
}