@import url('https://fonts.googleapis.com/css?family=Roboto');

html {
	font-size: 14px;
	font-family: 'Roboto', sans-serif;

	@media @phone-md {
		font-size: 18px;
	}

	@media @phone-lg {
		font-size: 20px;
	}

	@media @tablet-lg {
		font-size: 20px;
	}
}

body {
	background-color: @white;
	color: @black;
	padding: @spacing;
}

h1,
.h1 {
	.mixin-h1();
}

h2,
.h2 {
	.mixin-h2();
}

.p {
	.mixin-p();
}

footer {
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	margin-top: @spacing;

	a {
		cursor: pointer;
		padding: 1rem;
	}
}

.rotate-left {
	transform: rotate(-3deg);
}

.rotate-right {
	transform: rotate(3deg);
}

.date-placeholder {
	margin-left: auto;
}
