@import url('https://fonts.googleapis.com/css?family=Roboto');

html {
  font-size: 16px;
  // font-size: 22px;
  font-family: 'Roboto', sans-serif
}

body {
  background-color: @white;
  color: @black;
  padding: @page-margin;
}

h1 {
  .mixin-h1();
}

h2 {
  .mixin-h2();
}

.intro-section {
  .mixin-h1();

  position: relative;
  box-sizing: border-box;
  padding: 2 * @page-margin;
}

#intro-canvas {
  position: absolute;
  top: 0;
  left: 0;
  background-color: @blue;
  width: 100%;
  height: 100%;
}

.event-section,
.blog-section {
  padding: @page-margin;


  p {
    .mixin-p();
  }
}

