.mixin-h1() {
    font-family: 'Pantograph', 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 2.5rem;

    @media @tablet {
        font-size: 3rem;
    }

    @media @desktop-lg {
        font-size: 4rem;
    }
}

.mixin-h2() {
    font-family: 'Pantograph', 'Roboto', sans-serif;
    font-size: 1.5rem;
    font-weight: normal;
    text-transform: uppercase;
}

.mixin-p() {
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    font-weight: normal;
    line-height: 1.3em;
    text-transform: none;
}